<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAYING</title>
</head>
<body>

    <form action="/game" method="POST">
        <input type="hidden" name="jour" value="{{jour}}">
        <input type="hidden" name="loup" value="{{predateur}}">
        <input type="hidden" name="cerf" value="{{proie}}">
        <input type="hidden" name="herbe" value="{{vegetal}}">

        <a>Jour n° : {{jour}}</a><br>
        <a>Nombre de prédateurs : {{predateur}}</a><br>
        <a>Nombre de proies : {{proie}}</a><br>
        <a>Nombre de vegetaux : {{vegetal}}</a><br>

    <button type="submit">Jour suivant</button>
    </form>

    {% if graph_url %}
    <div>
        <h2>Graphique de l'évolution</h2>
        <img src="{{ graph_url }}" alt="Graphique de l'évolution" style="max-width: 100%;">
    </div>
    {% endif %}

    {% if afficher_bouton %}
        <h2>Anomalie détécté durant les prochains jours !!!</h2><br>
        <form action="/ajouter" method="POST">
            <input type="hidden" name="jour" value="{{jour}}">
            <input type="hidden" name="loup" value="{{predateur}}">
            <input type="hidden" name="cerf" value="{{proie}}">
            <input type="hidden" name="herbe" value="{{vegetal}}">
            <button type="submit">Ajouter</button>
        </form>
    {% endif %}
    <a href="/">retour</a>
</body>
</html>
