<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Init</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

  <video id="video-bg" autoplay muted loop playsinline>
        <source src="{{ url_for('static', filename='fond_index.mp4') }}" type="video/mp4">
  </video>

  <form action="/game" method="POST">
    <div class="container">
    <h1>Initialisation :</h1>
    
    <div>
      <input type="range" id="loup" name="loup" min="0" max="50" value="90" step="1"class="customrangerouge">
      <label for="loup" style="color: rgb(255, 0, 0);">
        Loup : <span id="qloup"></span>
      </label>
    </div>

    <div>
      <input type="range" id="mouton" name="mouton" min="0" max="500" value="90" step="1" style="background-color: blue;"class="customrangebleu">
      <label for="mouton" style="color: rgb(0, 0, 255);">
        Mouton : <span id="qmouton"></span>
      </label>
    </div>

    <div>
      <input type="range" id="herbe" name="herbe" min="0" max="1000" value="90" step="1"class="customrangevert">
      <label for="herbe" style="color: rgb(0, 255, 38);">
        Herbe : <span id="qherbe"></span>
      </label>
    </div>
    <input type="hidden" name="jour" value="0">

    <button type="submit">Continuer</button>
    </div>
    
  </form>
<script src="{{url_for('static',filename='app.js')}}"></script>

</body>
</html>

