<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Init</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <form action="/game" method="POST">
    <p>Initialisation :</p>
    
    <div>
      <input type="range" id="loup" name="loup" min="0" max="50" value="90" step="1">
      <label for="loup">
        Loup : <span id="qloup"></span>
      </label>
    </div>

    <div>
      <input type="range" id="mouton" name="mouton" min="0" max="50" value="90" step="1">
      <label for="mouton">
        Mouton : <span id="qmouton"></span>
      </label>
    </div>

    <div>
      <input type="range" id="herbe" name="herbe" min="0" max="50" value="90" step="1">
      <label for="herbe">
        Herbe : <span id="qherbe"></span>
      </label>
    </div>
    <input type="hidden" name="jour" value="0">

    <button type="submit">Continuer</button>
    
  </form>
<script src="{{url_for('static',filename='app.js')}}"></script>

</body>
</html>

