
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lvl1</title>
</head>
<body>

    <form method="POST" action="/lvl1">

        <label>Condition :</label>
        <select name="condition">
            <option value="pluie">Il pleut</option>
            <option value="not_pluie">Il ne pleut pas</option>
        </select>

        <label>Action :</label>
        <select name="action">
            <option value="arroser_plante">Arroser la plante</option>
            <option value="rien_faire">Ne rien faire</option>
        </select>

        <button type="submit">Valider</button>
    </form>

</body>
</html>